.r-wait {
	width: 270px;
	height: 270px;
	position: relative;
	margin: 20px auto;
}

.r-wait .avatar {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.r-wait.anim .avatar {
	-webkit-animation : outer 4s linear infinite;
}

.r-wait .avatar span {
	position: absolute;
	border: 2px solid #fff;
	border-radius: 50%;
}
.r-wait.anim .avatar span {
	-webkit-animation : fade 4s ease-in-out infinite;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.r-wait .avatar span.f {
	left: -7px;
	top: 144px;
}
.r-wait .avatar span.s {
	left: 190px;
	top: 206px;
}
.r-wait .avatar span.t {
	right: 20px;
	top: 20px;
}
.r-wait .avatar span.t img {
	width: 49px;
	height: 49px;
}
.r-wait .avatar span img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.r-wait .outer {
	width: 100%; 
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(./images/bigcircle.png) no-repeat;
	background-size: 270px 270px;
}
.r-wait.anim .outer {
	-webkit-animation : outer 4s linear infinite;
}
@-webkit-keyframes outer {
	0% {
		-webkit-transform : rotate(360deg);
	}
	100% {
		-webkit-transform : rotate(0deg);
	}
}

.r-wait .inner {
	width: 100%; 
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(./images/smallcircle.png) no-repeat;
	background-size: 270px 270px;
}
.r-wait.anim .inner {
	-webkit-animation : inner 6s linear infinite;
}
@-webkit-keyframes inner {
	0% {
		-webkit-transform : rotate(0deg);
	}
	100% {
		-webkit-transform : rotate(360deg);
	}
}