#wrap {
	padding-bottom: 200px;
}
.horse { width: 320px; height: 150px; display: block;}
.horse .text { font-size: 120px; x:160; y: 160; }
.horse .svgimg {
	width: 20px; 
	height: 20px;
	
}
.horse .path {stroke-width: 2px; stroke : #000; fill: none;}



.arc {
	width: 320px;
	height: 320px;
}

.css3 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-animation: circle 5s linear;
	-webkit-transform-origin : 100px 100px;
}
@-webkit-keyframes circle {
	0% {
		-webkit-transform : rotate(0deg);
	}
	100% {
		-webkit-transform : rotate(360deg);
	}

}